<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About LimbrUp'">
  <content has-header="true" has-tabs="true" padding="true" class="text-center">
    <div class="logo">
      <h2><span class="limbr">Limbr</span><span class="up">Up</span></h2>
    </div>
    <p>
      This is an application built to collect information on how athletes log their workouts :)
    </p>
    <p>
      We want to build the next-generation method of logging your workouts...<br />By speaking to your phone.
    </p>
    <p>
      So when 'logging' your workout, try and speak to the phone. <br />Remember that the speech-to-text might not be super intelligent. 
    </p>
    <p>
    Every input is anonymous to the system and to others.
    </p>
    <p>
    We only track what you've done based on cookies (that stay on your computer).</p>
    Checkmarks (<span class="ion-ios7-checkmark-outline balanced"></span>) indicate what you've done.
    </p>
  </content>
</view>
