<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About LimbrUp'">
  <content has-header="true" has-tabs="true" padding="true" class="text-center">
    <p>
      This is an application built to collect information on how athletes log their workouts :)
    </p>
    <p>
      We want to build the next-generation method of logging your workouts...<br />By speaking to your phone.
    </p>
    <p>
      So when 'logging' your workout, try and speak to the phone. <br />Remember that the speech-to-text might not be super intelligent. 
    </p>
  </content>
</view>
