<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<view title="title">
  <content has-header="true" padding="true">
  <slide-box class="hide-slider-pager">
  <slide>
  <div class="box">
    <h2>About</h2>
    <p>
    This is an application built to collect information on how athletes log their workouts :)
    </p>
    <p>
    We want to build the next-generation method of logging your workouts...
    </p>
    <p>
    So when 'logging' your workout, try and speak to the phone. <br />Remember that the speech-to-text might not be super intelligent. 
    </p>
    <p>
    Every input is anonymous to the system and to others.
    </p>
    <p>
    We only track what you've done based on cookies (that stay on your computer).</p>
    Checkmarks (<span class="ion-ios7-checkmark-outline balanced"></span>) indicate what you've done.
    </p>
  </div>
  </slide>
  <slide>
  <div class="box">
    <h2>Stay tuned</h2>
  </div>
  </slide>
  <slide>
  <div class="box">
    <h2 style="color:white;">Go away</h2>
  </div>
  </slide>
  <slide>
  <div class="box">
    <h3>New Workout</h3>
    <div class="list">
      <select ng-model="workout.type_slug" required ng-options="type.slug as type.name for type in types"></select> 
      <label class='item item-input'>
        <input type="number" placeholde="Number of movements" ng-model="workout.num_movements" required ></input> 
      </label>
      <label class='item item-input'>
        <textarea placeholder='Description...' ng-model="workout.description" rows="4"></textarea>
      </label>
      <button class="button button-full button-positive" ng-click="submitWorkout()">
        Submit
      </button>
    </div>
  </div>
  </slide>
  <slide>
  <div class="box">
    <h3>New Type</h3>
    <div class="list">
      <label class='item item-input'>
        <input type='text' placeholder='slug...' ng-model="type.slug"></textarea>
      </label>
      <label class='item item-input'>
        <input type='text' placeholder='name...' ng-model="type.name"></textarea>
      </label>
      <label class='item item-input'>
        <textarea placeholder='Description...' ng-model="type.description" rows="4"></textarea>
      </label>
      <button class="button button-full button-positive" ng-click="submitType()">
        Submit
      </button>
    </div>
  </div>
  </slide>
  </slide-box>
  </content>
</view>
