<!-- 
  This template gets placed in the Pet tab's <nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<view title="'Intro'">
  <content has-header="true" has-tabs="true">
  <slide-box class="text-center">
  <slide>
  <div class="box">
    <h1>Welcome</h1>
    <p>This is an app built to help us help you :)</p>
    <p>We'll use the information you provide to build a natural language processing tool that will make logging your workouts easy.</p>
    <p>And with that we'll build you the app you deserve.</p>
    <p>But before we get started, we have some information for you, <br />so, slide a finger along the arrow </p>
    <h1><span class="icon ion-ios7-arrow-thin-left"></span></h1>
    <p>(I mean there's more to the right)</p>
    <br. />
  </div>
  </slide>
  <slide>
  <div class="box">
    <h1>What is this?</h1>
    <p>So in this app is a series of hypothetical 'workouts'.</p>
    <p>And we want you to show us how you'd log these in your workout notebook.</p>
    <p>...preferably using your phone's voice-to-text converter..</p>
    <p>
    Everything in here is anonymous, no one knows who posted what. So don't be embarassed.<br />
    </p>
    <p>
    Also feel free to post many different varitaions  of your results! We actually encourage that
    </p>
  </div>
  </slide>
  <slide>
  <div class="box">
    <h1>Some tips...</h1>
    <p>Your phone only converts speech into  existing words...</p>
    <p>..it does not know what an "AMRAP" is,<br />so instead of saying that, try saying "as many rounds as possible".</p>
    <p>..it might not understand when you say "2k row".</p>
    <p>..if you say "21 15 9" too fast (as in 21-15-9 Fran),<br />your phone might think you said "21159".</p>
    <br. />
  </div>
  </slide>
  <slide>
  <div class="box">
    <h1>Examples...</h1>
    <p>Workout: "5x4 deadlift @80%"</p>
    <p>You say: "Five by four deadlifts at 245, 255, 265, 275 pounds"</p>
    <hr />
    <p>Workout: "3rft 15 kb 55lbs 21 pullups"</p>
    <p>You say: "Three rounds for time of 15 kettlebell swings at 55 pounds 21 pullups in 5 minutes 32 seconds"</p>
    <hr />
    <p>Try speaking naturally and however is comfortable for you. We'll do the work of understanding it.</p>
  </div>
  </slide>
  <slide>
  <div class="box">
    <h1>Thank you!</h1>
    <p>We want to accomodate every linguistical feature available, but we might be limited for the time being</p>
    <p>Plus this is a dummy app that might be a little slow and clunky, but this was developed in about 6 hours just to collect information :)</p>
    <p>Thank you for your cooperation, please e-mail (or call) me if you have any extra insight or questions</p>
    <p>Ready to start?</p>
    <p>Click on the <span title="Start" class="iconleft ion-android-storage" > Start</span> tab below.</p>
    <p>Feel free to revisit this app/page at any time</p>
  </div>
  </slide>
  </slide-box>
  </content>
</view>
