/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

body{
  color: #555;
}

.hide-slider-pager .slider-pager {
  display: none;
  }
